body {
    background-image: url("https://pictures.dealer.com/c/cibravehicles/1188/71cc1f170cedce3b8863dde8e46ad0d4x.jpg");
    background-size: cover;
}

.text-white {
    color: white;
}

/*header navigation*/

.header-navigation {
    display: flex;
    background:rgba(199, 197, 197, 0.8);
    align-items: center;
    justify-content: space-between;
}

.header-navigation .logo-section img {
    height: 7em;
    width: auto;
    padding-left: 45px;
    padding-right: 10px;
    display: flex;
    transform: skewX(20deg);
}
.header-navigation .logo-section {
    transform: skewX(-20deg);
    background: black;
    margin-left: -30px;
}

/* NAVIGATION */
.header-navigation .nav-section ul{
    display: flex;
    list-style-type: none;
}

.header-navigation .nav-section .nav-item{
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
}

.header-navigation .nav-section .nav-item:hover {
    color: rgb(117, 114, 114);
}

.header-navigation .login-section {
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
}

.header-navigation .login-section a{
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
    color: yellow;
}



/*HERO TAG BUTTONS GOOGLE */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.hero-container .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    text-align: center;
        
}

/* TAG LINE */
.hero-container .hero-tagline {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    
}

.hero-tagline span{
    display: block;
    font-size: 2.5rem;

}
.hero-container .hero-tagline ::after {
  content:'';
  display:block;
  margin-right: auto;
  margin-left: auto;
  width:20%; height:100%;  
  border-bottom:1px solid #fff;
  margin-top: 18px;
}


/*BUTTONS*/
.btn {
    text-decoration: none;
    font-weight: 300;
    margin: 2px .8rem;
    font-size: 1.3rem;
    background: black;
    padding: 10px 50px;
    border-radius: 20px;
    width: 300px;        
}

.btn.btn-orange {
    background-color: orange;
}

.btn.btn-orange:hover {
    background-color: rgb(109, 74, 8);
}

.btn.btn-peach {
    background: peachpuff;
}

.btn.btn-peach:hover {
    background: rgb(250, 195, 146);
}

.btn.btn-pink {
    background: pink;
}

.btn.btn-pink:hover {
    background: rgb(245, 127, 146);
}

.hero-buttons   {
    display: flex;
    width: 100%;
    justify-content: center;
    
}



.hero-buttons > div {
    display: flex;
    flex-direction: column;
    

}



/*google REVIEWS */
.google-reviews {
    position: fixed;
    bottom: 3px;
    right: 3px;
    
}

.google-reviews p{
    text-align: center;
    margin: 0;
    color: white;
}

.google-reviews img {
    margin: 0px;
    height: 80px;
    background: white;
    padding: 5px;
    border-radius: 10px;
}
