body {
    background-image: url("https://pictures.dealer.com/c/cibravehicles/1188/71cc1f170cedce3b8863dde8e46ad0d4x.jpg");
    background-size: cover;
}

.text-white {
    color: white;
}

/*header navigation*/

.header-navigation {
    display: flex;
    background:rgba(199, 197, 197, 0.8);
    align-items: center;
    justify-content: space-between;
}

.header-navigation .logo-section img {
    height: 7em;
    width: auto;
    background: black;
    display: flex;
}

/* NAVIGATION */
.header-navigation .nav-section ul{
    display: flex;
    list-style-type: none;
}

.header-navigation .nav-section .nav-item{
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
}

.header-navigation .login-section {
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
}

.header-navigation .login-section a{
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
}



/*HERO TAG BUTTONS GOOGLE */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero-container .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    j
    
}



/*BUTTONS*/
.btn {
    text-decoration: none;
    font-weight: 300;
    margin: 5px;
    font-size: 1.3rem;
    background: black;
    padding: 10px 20px;
    border-radius: 20px;
    
    
    
}


.hero-buttons   {
    display: flex;
    width: 100%;
    justify-content: center;
    
}



.hero-buttons > div {
    display: flex;
    flex-direction: column;
    

}



/*google REVIEWS */
.google-reviews {
    position: fixed;
    bottom: 3px;
    right: 3px;
    
}

.google-reviews p{
    text-align: center;
    margin: 0;
    color: white;
}

.google-reviews img {
    margin: 0px;
    height: 80px;
    background: white;
    padding: 5px;
    border-radius: 10px;
}